<form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="id">ID:</label>
    <input id="id" formControlName="id" type="text" />
  </div>

  <div>
    <label for="firstName">First Name:</label>
    <input id="firstName" formControlName="firstName" type="text" />
  </div>

  <div>
    <label for="lastName">Last Name:</label>
    <input id="lastName" formControlName="lastName" type="text" />
  </div>
  <div>
    <label for="draft">Draft Year:</label>
    <input id="draft" formControlName="Year" type="number" />
  </div>

  <div>
    <label for="team">Team:</label>
    <input id="team" formControlName="team" type="text" />
  </div>

  <div>
    <label for="points">Points Per Game:</label>
    <input id="points" formControlName="points" type="text" />
  </div>

  <div>
    <label for="mvp">MVP:</label>
    <input id="mvp" formControlName="mvp" type="number" />
  </div>

  <button type="submit" >Add</button>
  <button type="button" (click)="onDelete()" >Delete</button>
</form>
