<h1>{{title}}</h1>
<div class="personal">
<p>Created by:<strong>{{name}}</strong></p>
<p>Favourite Player:<em>{{favPlayer}}</em></p>
</div>

  <app-content-list-item *ngIf="gswplayer" [player]="gswplayer" ></app-content-list-item>
<div class="container">
  <h2>Legendary Directory</h2>
  <hr>
  <div *ngFor="let player of users" class="legends-profile">
    <p><strong>ID:</strong> {{player.id}}</p>
      <p><strong>Name:</strong>{{player.firstName}} {{player.lastName}}</p>
      <p><strong>Team:</strong>{{player.team}}</p>
    <p><strong>MVP:</strong>{{player.mvp}}</p>
    <hr>
      </div>
  </div>

